[Unit]
Description=Docker Websocket Monitor
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/var/www/html/running_docker/monitor_sqli_2.sh
WorkingDirectory=/var/www/html/running_docker
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

