[Unit]
Description=Update status for WebSocket connections

[Service]
ExecStart=/var/www/html/update_status_sqli.sh
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
