[Unit]
Description=Run update_status service every second

[Timer]
# Run every second
OnUnitActiveSec=1
Unit=update_status_xss.service

[Install]
WantedBy=timers.target
